<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Fitness</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-ftn">
        <div class="container">
            <a class="navbar-brand" href="#shedule">Тренировки</a>
            <a class="navbar-brand" href="#rates">Абонементы</a>
            <a class="navbar-brand" href="#faq">FAQ</a>
        </div>
        </div>
    </nav>
    <div class="container header-ftn">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-white">Fitnesssssssss</h1>
                <div class="info-ftn">
                    <p class="text-end text-white">Стань выше, быстрее, сильнее. Lorem ipsum dolor sit amet,
                        consectetur
                        adipisicing elit. Voluptatem autem recusandae optio? Vitae quaerat ducimus, dolores,
                        blanditiis
                        reiciendis hic, rem porro est sapiente tempore minima. Labore nisi porro aliquam ipsa.</p>
                </div>
                <a class="btn btn-ftn btn-lg text-uppercase fw-semibold" href="#rates">Подробнее</a>
            </div>
        </div>

    </div>
</header>
<main>
    <section id="rates">
        <div class="carousel slide" data-bs-ride="carousel" id="myCarousel">
            <div class="carousel-indicators">
                <button aria-current="true" aria-label="Slide 1" class="active" data-bs-slide-to="0"
                        data-bs-target="#myCarousel" type="button"></button>
                <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#myCarousel"
                        type="button"></button>
                <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#myCarousel"
                        type="button"></button>
            </div>
            <div class="carousel-inner">
                <div th:class="${iter.index == 0} ? 'carousel-item active' : 'carousel-item'"
                     th:each="rate, iter:${rates}">
                    <div class="img-wrapper">
                        <img class="d-block" th:src="'img/' + ${iter.index%3+1} + '.jpg'">
                    </div>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1 th:text="${rate.name}"></h1>
                            <p th:text="${rate.description}"></p>
                            <p><a class="btn-ftn btn btn-lg btn-primary" href="#faq">Узнать больше</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#myCarousel" type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#myCarousel" type="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section id="shedule">
        <div class="idance">
            <div class="schedule content-block">
                <div class="container">
                    <h2 class="aos-init aos-animate" data-aos="zoom-in-up">Расписание занятий</h2>

                    <div class="timetable">
                        <nav class="nav nav-tabs">
                            <a class="shedule-ftn nav-link" id="mon">Mon</a>
                            <a class="shedule-ftn nav-link" id="tue">Tue</a>
                            <a class="shedule-ftn nav-link" id="wed">Wed</a>
                            <a class="shedule-ftn nav-link" id="thu">Thu</a>
                            <a class="shedule-ftn nav-link" id="fri">Fri</a>
                            <a class="shedule-ftn nav-link" id="sat">Sat</a>
                            <a class="shedule-ftn nav-link" id="sun">Sun</a>
                        </nav>
                        <div class="tab-content">
                            <div class="tab-pane show active">
                                <div class="row">
                                    <div th:each="event: ${events}"
                                         th:class="'card-ftn ' + ${event.tagDay}+ ' col-md-6'">
                                        <div class="timetable-item">
                                            <div class="timetable-item-img">
                                                <img src="https://via.placeholder.com/100x80/008B8B/000000">
                                            </div>
                                            <div class="timetable-item-main">
                                                <div class="timetable-item-time" th:text="${event.time}"></div>
                                                <div class="timetable-item-name"
                                                     th:text="${event.name}"></div>
                                                <div class="timetable-item-description"
                                                     th:text="${event.description}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item" th:each="faq, iter: ${faqs}">
                <h2 class="accordion-header" th:id="'flush-heading' + ${iter.index}">
                    <button aria-expanded="false" class="accordion-button collapsed" data-bs-toggle="collapse"
                            th:aria-controls="'flush-collapse' + ${iter.index}"
                            th:data-bs-target="'#flush-collapse' + ${iter.index}"
                            th:text="${faq.question}"
                            type="button">
                    </button>
                </h2>
                <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
                     th:aria-labelledby="'flush-heading' + ${iter.index}"
                     th:id="'flush-collapse' + ${iter.index}">
                    <div class="accordion-body" th:text="${faq.answer}"></div>
                </div>
            </div>
        </div>
    </section>

</main>
<footer class="text-center text-white" style="background-color: #0a4275;">
    <div class="container p-4 pb-0">
        <section class="">
            <p class="d-flex justify-content-center align-items-center">
                <span class="me-3">Присондиняйся к нам!</span>
                <button class="btn btn-outline-light btn-rounded" type="button">
                    тык
                </button>
            </p>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 ksenideni
    </div>
</footer>

<script crossorigin="anonymous"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="scripts/script.js"></script>
</body>

</html>