:root {
    --color-light: #7ed5ea;
    --color-medium: #3778C2;
    --color-dark: #150734;
}

header,
section {
    padding: 50px;
}

header,
footer {
    background: var(--color-dark);
    background: linear-gradient(90deg, var(--color-dark) 0%, var(--color-medium) 50%, var(--color-light) 100%);
}

.btn-ftn {
    display: block;
    max-width: 200px;
    margin: auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-ftn:hover {
    color: var(--color-dark);
    background-color: var(--bs-white);
    border-color: var(--bs-white);
}

.header-ftn {
    padding-top: 150px;
    padding-bottom: 200px;
}

.navbar-ftn {
    background-color: var(--color-dark);
}

.info-ftn {
    padding: 40px 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper img {
    min-height: 100%;
    flex-shrink: 1;
}

.carousel .img-wrapper {
    height: 600px;
}


/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
/* .carousel-item {
    height: 32rem;
} */

/*---------------shedule*/


.idance .classes-details ul.timetable {
    margin: 0 0 22px;
    padding: 0;
}

.idance .classes-details ul.timetable li {
    list-style: none;
    font-size: 15px;
    color: #7f7f7f;
}

.idance .timetable {
    max-width: 900px;
    margin: 0 auto;
}

.idance .timetable-item {
    border: 1px solid #d8e3eb;
    padding: 15px;
    margin-top: 20px;
    position: relative;
    display: block;
}

@media (min-width: 768px) {
    .idance .timetable-item {
        display: flex;
    }
}

.idance .timetable-item-img {
    overflow: hidden;
    height: 100px;
    width: 100px;
    display: none;
}

.idance .timetable-item-img img {
    height: 100%;
}

@media (min-width: 768px) {
    .idance .timetable-item-img {
        display: block;
    }
}

.idance .timetable-item-main {
    flex: 1;
    position: relative;
    margin-top: 12px;
}

@media (min-width: 768px) {
    .idance .timetable-item-main {
        margin-top: 0;
        padding-left: 15px;
    }
}

.idance .timetable-item-time {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
}

.idance .timetable-item-name {
    font-size: 18px;
    margin-bottom: 19px;
    color: var(--color-dark);
}

.idance .timetable-item-description {
    font-size: 14px;
    margin-bottom: 19px;
}

.idance .schedule .nav-tabs {
    border-bottom: 2px solid var(--color-medium);
}

.idance .schedule .nav-link {
    flex: 1;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #3d3d3d;
    font-weight: 500;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    border-radius: 2px 2px 0 0;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

@media (min-width: 768px) {
    .idance .schedule .nav-link {
        font-size: 16px;
    }
}

.idance .schedule .nav-link.active {
    background: var(--color-dark);
    border-color: var(--color-dark);
    color: var(--bs-white);
}

.idance .schedule .nav-link.active:focus {
    border-color: var(--color-dark);
}

.idance .schedule .nav-link:hover:not(.active) {
    background: var(--color-medium);
    border-color: var(--color-medium);
    color: var(--bs-white);
}

.idance .schedule .tab-pane {
    padding-top: 10px;
}


/*FAQ*/
.accordion-button {
    color: var(--color-dark);
}

.accordion-button:active {
    color: var(--color-medium);
}